__pycache__/
*.py[cod]
*$py.class
*.csv
*.wav
*.mp3
MIR-1K/
dataset/
data/
raw_data/
*.wav
*.mp3
*.flac
*.ogg
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
.DS_Store
.vscode/
venv/
env/